@use '../_constants/variables' as *;

.o-kanban-column {
  background-color: $bg-secondary;
  min-width: 300px;
  width: 300px;
  flex-shrink: 0; // Prevents the column from shrinking when there are many
  border-radius: $radius-md;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    outline: none;
    cursor: text;
    flex: 1;
  }

  &__add-btn {
    width: 100%;
    margin-top: $spacing-sm;
  }

  &__input-container {
    padding: 0 10px 10px 10px;
  }

  &__input {
    width: 100%;
  }

  &.is-ghost {
    background-color: transparent;
    border: 2px dashed var(--background-modifier-border);
    display: flex;
    align-items: flex-start;
    padding: 10px;

    .o-kanban-column__input {
      background-color: var(--background-primary);
    }
  }
}
