@use '../_constants/variables' as *;

.t-kanban-view {
  flex: 1;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: $spacing-lg;
  }

  &__header-left {
    display: flex;
    align-items: center;
    gap: 15px;

    h2 {
      margin: 0;
      outline: none;
      cursor: text;
      color: var(--text-normal);
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 100%;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }
}
